body{
    background-color: black;

}

.hacker{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 33px 10px 33px;
    
}


#first{
        font-size: 40px;
        color: white;
        margin: 0;
}

.box{
    display : grid;
    column-gap: 20px;
    grid-template-columns: auto auto auto;

    
}
#box1{
    display: flex;
    flex-direction: column;
}

#box2{
    display: flex;
    flex-direction: column;
}

#box3{
    display: flex;
    flex-direction: column;
}
.first{

    height: auto;
    border-radius: 16px;
    box-shadow: 10%;
    margin-top: 20px;
    margin-right: 20px;
    align-items: center;

}

.line{
    font-size: 19px;
    color: grey;
    margin-top: -9px;
    padding: 20px;
    margin : auto;


}
.line1
{

    font-size: 20px;
    margin-right: 20px;
    padding:10px;
    color: rgba(255, 255, 255, 0.496)


}

button
{
    size: 120%;
    margin-top: 30px;
    padding: 15px;
    background-color: white;
    border-radius: 40px;
    width: 40%;
    font-size: 15px;


}
@media (max-width :1200px)
{
    .box{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width :768px)
{
    .box{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width :640px)
{
    .hacker{
        margin: 0;
        padding: 0;
        
    }
    h1#first{
        padding: 0;
        margin: 0;
    }
    .box{
        grid-template-columns: repeat(1,1fr);
    }

    .box1
    {
        align-items: center;
    }
    .box2
    {
        align-items: center;
    }
    .box3
    {
        align-items: center;
    }
   
   
}





